/* Globales */
*, html {font-family: Verdana, Arial, Helvetica, sans-serif;}

body {background: url('yeswecan-league.jpg') no-repeat right bottom;}

h2 {font-size: 14px;}

img {border: none;}

/* Success */
#success {
    display:none;
}

/* Formulario */
#yeswecan-signup {
    margin: 20px auto;
    width: 500px;
}

fieldset {
    margin: 20px 0 20px;
    padding: 20px;
}

ol {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

li {
    margin: 0 0 12px;
    position: relative;
}

label {
    width: 150px;
    display: inline-block;
    vertical-align: top;
}

fieldset input,
fieldset textarea,
fieldset select {
    display: inline-block;
    width: 371px;
    padding: 10px 20px 5px 10px;
}

input:focus:required:invalid {
    border: 2px solid red;
    background: url('ico_validation.png') 335px 8px no-repeat;
}

input:required:valid {
    background: url('ico_validation.png') 335px -56px no-repeat;
}


textarea {
    resize: none;
    border: 1px solid #999;
}

input[type="submit"] {
    height: 50px;
    width: 500px;
    font-size:20px;
    cursor: pointer;
}

