/** * Eric Meyer's Reset CSS v2.0  */
html, body, div, span, applet, object, iframe,h1, h2, h3, h4, h5, h6, p, blockquote, pre,a, abbr, acronym, address, big, cite, code,del, dfn, em, img, ins, kbd, q, s, samp,small, strike, strong, sub, sup, tt, var,b, u, i, center,dl, dt, dd, ol, ul, li,fieldset, form, label, legend,table, caption, tbody, tfoot, thead, tr, th, td,article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary,time, mark, audio, video {	margin: 0;	padding: 0;	border: 0;	font-size: 100%;	font: inherit;	vertical-align: baseline;}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {	display: block;}body {	line-height: 1;}ol, ul {	list-style: none;}blockquote, q {	quotes: none;}blockquote:before, blockquote:after,q:before, q:after {	content: '';	content: none;}table {	border-collapse: collapse;	border-spacing: 0;}


body{
	background:#249991;
	font-family: arial, sans-serif;
}

#content, #header {
	width:350px;
	margin:0 auto;
}
#header {
	text-align:center;
}
#header{
}
h1 {
	color:#FFF;
	font-family: 'Merienda', cursive;
	font-size:30px;
	font-weight:700;
	text-shadow:1px 1px 1px #666;
}
.call_form {
	font-size:18px;
}
#content{
	background:#4ecdc4;
	border-radius:10px;
	-webkit-border-radius:10px;
	margin-top:20px;
	padding: 20px 15px;
}
label{
	color:#FFF;
	font-family: 'Merienda', cursive;
	display:inline-block;
	width:100px;
	margin-left:20px;
}
input, textarea {
	border:0;
	margin-bottom: 10px;
	border-radius:4px;
	-webkit-border-radius:4px;
	padding:6px 10px;
}
input {
	display:inline-block;
	width:150px;
}
.desc {
	margin-top:20px;
	padding:10px 0;
	border-top:2px dashed #249991;
	width:90%;
	text-align:center;
}
textarea {
	width:80%;
	margin-left:20px;
}

button, .send_form {
	margin:20px auto;
	background:#44b3ab;
	border:0;
	color:#FFF;
	text-transform:uppercase;
	border-radius:4px;
	-webkit-border-radius:4px;
	padding:6px 10px;
	-webkit-box-shadow: 0px 0px 0px 1px #4e8381 inset, 0px 0px 0px 2px #74b6b4 inset, 0px 4px 0px 0px #4a7c7b, 0px 5px 0px 0px #355655, 0px 8px 0px 0px rgba(0,0,0,.15);
	-moz-box-shadow: 0px 0px 0px 1px #4e8381 inset, 0px 0px 0px 2px #74b6b4 inset, 0px 4px 0px 0px #4a7c7b, 0px 5px 0px 0px #355655, 0px 8px 0px 0px rgba(0,0,0,.15);
	-ie-box-shadow: 0px 0px 0px 1px #4e8381 inset, 0px 0px 0px 2px #74b6b4 inset, 0px 4px 0px 0px #4a7c7b, 0px 5px 0px 0px #355655, 0px 8px 0px 0px rgba(0,0,0,.15);
	box-shadow: 0px 0px 0px 1px #4e8381 inset, 0px 0px 0px 2px #74b6b4 inset, 0px 4px 0px 0px #4a7c7b, 0px 5px 0px 0px #355655, 0px 8px 0px 0px rgba(0,0,0,.15);
	display:block;
}
#content .send_form {
	margin:10px auto;
}
button:hover, .send_form:hover {
	background-color: #73c2c0;
}
button:active, .send_form:active {
	background-color: #5a9896;
	-webkit-box-shadow: 0px 0px 0px 1px #589391 inset, 0px 0px 0px 2px #65a9a7 inset, 0px 1px 0px 0px #355655, 0px 3px 0px 0px rgba(0,0,0,.15);
	-moz-box-shadow: 0px 0px 0px 1px #589391 inset, 0px 0px 0px 2px #65a9a7 inset, 0px 1px 0px 0px #355655, 0px 3px 0px 0px rgba(0,0,0,.15);
	-ie-box-shadow: 0px 0px 0px 1px #589391 inset, 0px 0px 0px 2px #65a9a7 inset, 0px 1px 0px 0px #355655, 0px 3px 0px 0px rgba(0,0,0,.15);
	box-shadow: 0px 0px 0px 1px #589391 inset, 0px 0px 0px 2px #65a9a7 inset, 0px 1px 0px 0px #355655, 0px 3px 0px 0px rgba(0,0,0,.15);
}
.first-info, em{ 
	color: #FFF;
	font-style: italic;
	font-size: 14px;
	text-align: center;
	margin-bottom: 20px;
}
em{
	margin-top: 10px;
}
legend {
	color:#FFF;
	font-family: 'Merienda', cursive;
	font-size:24px;
	font-weight:700;
	text-shadow:1px 1px 1px #666;
	margin-bottom: 10px;
}

.error{background: red;color:#FFF}
.correcto{background: green;color:#FFF}

.mensaje {
	text-align:center;
	color:#FFF;
	font-family: 'Merienda', cursive;
}
.mensaje span {
	font-size:34px;
	display:block;
}