/* My Style */


body, input  {
	font-family: Life Savers;
	font-size: 30px;
}

#container {
    margin: 20px auto 10px;
    width: 500px;
}

fieldset label span {
    color: #A01000;
}

fieldset label {
    display: inline-block;
    width: 190px;
}
fieldset input {
    margin-bottom: 30px;
    width: 250px;
}

fieldset #submit {
background: rgb(252,234,187); /* Old browsers */
background: -moz-linear-gradient(top,  rgba(252,234,187,1) 0%, rgba(252,205,77,1) 50%, rgba(248,181,0,1) 51%, rgba(251,223,147,1) 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(252,234,187,1)), color-stop(50%,rgba(252,205,77,1)), color-stop(51%,rgba(248,181,0,1)), color-stop(100%,rgba(251,223,147,1))); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  rgba(252,234,187,1) 0%,rgba(252,205,77,1) 50%,rgba(248,181,0,1) 51%,rgba(251,223,147,1) 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  rgba(252,234,187,1) 0%,rgba(252,205,77,1) 50%,rgba(248,181,0,1) 51%,rgba(251,223,147,1) 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top,  rgba(252,234,187,1) 0%,rgba(252,205,77,1) 50%,rgba(248,181,0,1) 51%,rgba(251,223,147,1) 100%); /* IE10+ */
background: linear-gradient(to bottom,  rgba(252,234,187,1) 0%,rgba(252,205,77,1) 50%,rgba(248,181,0,1) 51%,rgba(251,223,147,1) 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fceabb', endColorstr='#fbdf93',GradientType=0 ); /* IE6-9 */
    border: 1px solid #6B5625;
    border-radius: 10px 0 10px 0;
    -webkit-border-radius: 10px 0 10px 0;
    box-shadow: 1px 1px 2px #333333;
    -webkit-box-shadow: 1px 1px 2px #333333;
    width: 100%;
}

fieldset #submit:hover {
background: rgb(251,223,147); /* Old browsers */
background: -moz-linear-gradient(top,  rgba(251,223,147,1) 0%, rgba(248,181,0,1) 49%, rgba(252,205,77,1) 50%, rgba(252,234,187,1) 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(251,223,147,1)), color-stop(49%,rgba(248,181,0,1)), color-stop(50%,rgba(252,205,77,1)), color-stop(100%,rgba(252,234,187,1))); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  rgba(251,223,147,1) 0%,rgba(248,181,0,1) 49%,rgba(252,205,77,1) 50%,rgba(252,234,187,1) 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  rgba(251,223,147,1) 0%,rgba(248,181,0,1) 49%,rgba(252,205,77,1) 50%,rgba(252,234,187,1) 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top,  rgba(251,223,147,1) 0%,rgba(248,181,0,1) 49%,rgba(252,205,77,1) 50%,rgba(252,234,187,1) 100%); /* IE10+ */
background: linear-gradient(to bottom,  rgba(251,223,147,1) 0%,rgba(248,181,0,1) 49%,rgba(252,205,77,1) 50%,rgba(252,234,187,1) 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fbdf93', endColorstr='#fceabb',GradientType=0 ); /* IE6-9 */
	cursor: pointer;
    box-shadow: 1px 1px 2px #333333 inset;
    -webkit-box-shadow: 1px 1px 2px #333333 inset;
}


fieldset #submit.disabled {
    background: none repeat scroll 0 0 #CCCCCC;
    box-shadow: 0 0 0;
    color: #666666;
}

fieldset #submit.disabled:hover {
    cursor: default;
}




/* Página de respuesta */
.answer-page {text-align: center;}

.answer-page h4 {
    background: none repeat scroll 0 0 #ABE4FC;
}

.answer-page ul {
    background: none repeat scroll 0 0 #FFFF9E;
    box-shadow: 2px 2px 4px #555555;
    margin: 0 auto 30px;
    padding: 60px 10px !important;
    width: 250px;
}

.answer-page ul li {
	list-style-type: none;
} 











